<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div id="select_sensors_wrapper" class="form-group"></div>
			<div id="temperature_chart_wrapper"></div>
		</div>
	</div>
</div>

<%= javascript_pack_tag 'index' %>
