<div class="container-fluid">
	<div class="row">
		<div id="temperature_chart_wrapper" class="col-xs-12 col-xm-12 col-lg-12">
		</div>
		<!-- <div id="select_sensors_wrapper" class="col-xs-12 col-xm-12 col-lg-12">
		</div> -->
	</div>
</div>

<%= javascript_pack_tag 'index' %>
